.actions {
  position: relative;
  padding: 0;
  vertical-align: middle;

  div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.26s ease;
    text-align: center;
    display: block;

    .icon-edit {
      transform: translateY(+50%);
      margin-right: 5px;
    }

    .icon-trash {
      transform: translateY(+50%);
      color: red;
    }
  }

  &:hover {
    div {
      height: 100%;
      transform: scaleY(1);
    }
  }
}
