// Place all the styles related to the Expense controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.expenses_icons {
  .actions {
    position: relative;
    padding: 0;
    vertical-align: middle;

    div {
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.26s ease;
      text-align: center;
      display: block;

      .expenses-icon-edit {
        transform: translateY(+50%);
        margin-right: 5px;
      }

      .expenses-icon-trash {
        transform: translateY(+50%);
        color: red;
      }
    }

    &:hover {
      div {
        height: 100%;
        transform: scaleY(1);
      }
    }
  }
}

