.items-table {
  thead th {
    border-right-color: #000000;
    border-left-color: #000000;
  }

  .left-td {
    border-left-color: #000000;
  }

  .right-td {
    border-right-color: #000000;
  }
}
